<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--properties:引用外部配置文件,如数据库连接配置文件
		resource:从类路径下开始引用
		url:引用磁盘路径或网络路径
	-->
	
	<typeAliases>
		<package name="com.spring.pojo"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
		        <property name="driver" value="com.mysql.jdbc.Driver"/>
		        <property name="url" value="jdbc:mysql://localhost:3306/testmybatis"/>
		        <property name="username" value="root"/>
		        <property name="password" value="root123"/>
		    </dataSource>
		</environment>
	</environments>
      
      
      <mappers>
      	<mapper resource="mapper/EmployeeMapper.xml"/>
      	<mapper resource="mapper/CatMapper.xml"/>
      	<mapper resource="mapper/KeyMapper.xml"/>
      	<mapper resource="mapper/LockMapper.xml"/>
      </mappers>
      
      
</configuration>